table {
    border-collapse: collapse;
}

th,
td {
    border-color: black;
    border-style: solid;
    border-width: 2pt;
}

tr:nth-child(2n) td {
    background-color: #f0f0f0;
}

td.ausgewaehlt,
tr:nth-child(2n) td.ausgewaehlt {
    background-color: lightgray;
}